{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Про мене</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
<body>
    <img src="{% static 'images/Zoriana.jpg' %}" alt="Фото" style="width: 150px; margin-bottom: 20px;">
    <h1>Про мене</h1>
    <p>Мене звати Зоряна Михальська, я практикуючий психолог та арт-терапевт</p>

    <a href="/">На головну</a>
</body>
</html>
