{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Контакти</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
<body>
    <h1>Контактна форма</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Відображення форми -->
        <button type="submit">Надіслати</button>
    </form>

    <a href="/">На головну</a>
</body>
</html>